<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52459158115-08r7rj6ug9tiieme9eo82m4urs71hdlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52459158115-08r7rj6ug9tiieme9eo82m4urs71hdlr</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxAVNdXGcL3kRi-kAKI6EWI5W_uqAw5A</string>
	<key>GCM_SENDER_ID</key>
	<string>52459158115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWall.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-wall-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52459158115:ios:f27ca149e750cf3ea91656</string>
</dict>
</plist>